<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body{
            background-color:red;
        }
    </style>
</head>
<body>
    <h1>Red Layout</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
